<div class="w-[224px] h-12 border-none relative">
        <input type="text" class="w-full h-full bg-primary-light border-none hover:border-2 ring-0 placeholder:font-normal placeholder:font-noto placeholder:text-black
        placeholder:text-sm
         rounded-3xl  focus:outline-custom-purple pl-[17px] pr-12" placeholder="ძიება">
         <button class="absolute z-10 w-6 h-6 top-3 right-3">
            <img src="assets/svg/search-icon.svg" alt="search-icon" class="w-6 h-6">
         </button>
</div>
