.main{
    @apply flex flex-col px-4 sm:px-[57px] xl:px-[114px] 2xl:px-[304px] h-screen
}


swiper-container{
    width: 100%;
    height: fit;
    --swiper-pagination-color: #f5f8ff !important;

}

swiper-slide{
    width: fit !important;
}
